/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings v1.0.0

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    
    This determines a browser support base of:
    
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+
    
    
    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattren}__open` overrides `a[href]`.
    
|-------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*    
    Designed for use with the basic [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)
    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+

    Any double-classing (e.g. `.class.class`) is deliberatly in place in order to increase specifity.
    This allows Start-CSS declarations to be overidden.
    E.g. `.{pattern}__open.{pattern}__open` overrides `a[href]`.

\*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*    Import Fall-Back vars:

    Slightly hacky way of allowing the main UI colour of this pattern to be:
     - base-ui colour (if set)
     - otherwise #999
     - but can be specifically overridden
\*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*
    THE WAY THIS WORKS

    In browsers that support transform, the over-panel is moved 100% up, thus hiding off the top of
    the page. When :target-ted, the transform is set back to 0 and the transition provides the
    sliding effect.
    However, Opera Mini and IE9 don't support transform (but do support Media Queries) so it breaks.
    In order to provide a functional fallback, I've set the initial clip state to 0 so that it's
    hidden. The :target-ted state sets the clip to be enormous (thus visible).
    This, though, breaks the slide-up effect as the clip is set back to 0 before the transition
    takes places, hiding it immediately.
    To get round this I've also transitioned the clip (on the 'closed' state only) and set a delay
    so that the clip isn't change until after the slide transition has been completed.
    Since neither of these browser support transitions either, the clip delay is ignored.

    The same principle applies to the fade effect.

*/
.over-panel .over-panel__open,
.over-panel .over-panel__close {
  display: none; }

/* -- Enhanced layout --------------------------------------------------------------------------- */
@media only screen and (max-width: minus1px(50em)) {
  /*
        This extra wrapper allows the content of the panel to be absolutely positioned so that the
        container doesn't create a positioning context which would prevent the overlay from filling
        the body.
        The :target id needs to stay in actual position so the fall-back works, so everything
        affected by the :target must come after or inside the element with the id, but we want to
        allow the position of the controls to be as flexible as possible, so some trickery is
        needed.

        1. Make sure the over-panel is on top. (should be a variable).
        2. Make the over-panel invisible in a way that's transition-able but also removes from tab
           order.
    */
  .over-panel__wrap {
    background-color: #663399;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 9999;
    /* [1] */
    visibility: hidden;
    /* [2] */ }
  /*
        1. Make the over-panel visible in a way that's transition-able.
    */
  .over-panel:target .over-panel__wrap {
    visibility: visible;
    /* [1] */ }
  /* Slide effect: */
  .over-panel--slide .over-panel__wrap {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform ease 0.8s, visibility 0s 0.8s ease;
    -moz-transition: -moz-transform ease 0.8s, visibility 0s 0.8s ease;
    -o-transition: -o-transform ease 0.8s, visibility 0s 0.8s ease;
    transition: transform ease 0.8s, visibility 0s 0.8s ease; }
  .over-panel--slide:target .over-panel__wrap {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform ease 0.8s;
    -moz-transition: -moz-transform ease 0.8s;
    -o-transition: -o-transform ease 0.8s;
    transition: transform ease 0.8s; }
  /* Fade effect: */
  .over-panel--fade .over-panel__wrap {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity ease 0.8s, visibility 0s 0.8s ease;
    -moz-transition: opacity ease 0.8s, visibility 0s 0.8s ease;
    -o-transition: opacity ease 0.8s, visibility 0s 0.8s ease;
    transition: opacity ease 0.8s, visibility 0s 0.8s ease; }
  .over-panel--fade:target .over-panel__wrap {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity ease 0.8s;
    -moz-transition: opacity ease 0.8s;
    -o-transition: opacity ease 0.8s;
    transition: opacity ease 0.8s; }
  .over-panel__wrap a {
    background-color: transparent;
    color: #f2ecf9; }
  .over-panel__wrap a:hover,
  .over-panel__wrap a:active,
  .over-panel__wrap a:focus {
    background-color: #663399;
    color: #bf9fdf; }
  /* Style the over-panel controls: */
  /*
      NOTE: this still isn't finalised and may need to be more flexible as it's quite
      subjective how these buttons should be presented in terms of position.
      Will probably not be in isolation, but as part of a navbar or similar so this does
      need some more thinking.
    */
  .over-panel__open.over-panel__open,
  .over-panel__close.over-panel__close {
    color: #fff;
    background-color: #663399;
    width: 2.25em;
    margin: 0;
    padding: 0 0.5625em;
    height: 2.25em;
    line-height: 2.25em;
    border: 0;
    text-decoration: none;
    text-align: center; }
  .over-panel__open.over-panel__open:hover,
  .over-panel__open.over-panel__open:active,
  .over-panel__open.over-panel__open:focus,
  .over-panel__close.over-panel__close:hover,
  .over-panel__close.over-panel__close:active,
  .over-panel__close.over-panel__close:focus {
    border: 0;
    text-decoration: none;
    color: #fff;
    background-color: #4d2673; }
  .over-panel__open.over-panel__open {
    display: block; }
  /*
        Fix for Opera Mini vertical centering:
    */
  /* Hide the open control: */
  /*
        Taking this out for now is leaving it visible doesn't seem to hurt (though accessiblity?)
        but hiding it can cause other elements to jump around due to flexbox.
        Maybe use visibility, not sure.
    */
  /*.over-panel:target .over-panel__open.over-panel__open {
        display: none;
    }*/
  /* Show the close control and move on above the overlay: */
  .over-panel:target .over-panel__close.over-panel__close {
    z-index: 1002;
    /* @var */
    display: block;
    position: absolute;
    top: 0;
    right: 0; }
  /* Size and position the overlay, but send it to the back: */
  .over-panel__overlay.over-panel__overlay {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    background: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-box-shadow: 0 0 10px 5px #000;
    box-shadow: 0 0 10px 5px #000; }
  /* Bring the overlay to the front and fade in when there's an over-panel target: */
  .over-panel:target .over-panel__overlay {
    z-index: 1001;
    /* @var */
    opacity: 0.5; }
  .over-panel__overlay.over-panel__overlay:hover,
  .over-panel__overlay.over-panel__overlay:active,
  .over-panel__overlay.over-panel__overlay:focus {
    border: 0;
    text-decoration: none;
    background: #fff; } }

/* ---------------------------------------------------------------------------------------------- */
